@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abdullah Arıcı - Portfolyo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
    <header class="main-header">
        <div class="container">
            <nav class="main-nav">
                <a href="#home" class="logo">Abdullah Arıcı</a>
                <ul>
                    <li><a href="#about">Hakkımda</a></li>
                    <li><a href="#experience">Deneyim</a></li>
                    <li><a href="#projects">Projeler</a></li>
                    <li><a href="#skills">Yetenekler</a></li>
                    <li><a href="#contact">İletişim</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section id="home" class="hero-section">
            <div class="container">
                <div class="hero-content">
                    <h1>Merhaba, Ben Abdullah Arıcı</h1>
                    <p>Web teknolojileriyle ilgileniyorum, .Net Core alanında uzmanlaşmaya çalışıyorum</p>

                    <a class=" btn alert-success" href="/files/Abdullah_Arici_CV.pdf" download>
                        CV'yi indir
                    </a>
                    <a href="#projects" class="btn btn-primary">Projelerimi İncele</a>
                </div>
            </div>
        </section>

        <section id="about" class="section-padding">
            <div class="container">
                <h2>Hakkımda</h2>
                <div class="about-content">
                    <p>
                        Erciyes Üniversitesi Bilgisayar Mühendisliği öğrencisiyim. Yazılım geliştirmeye küçük projelerle başladım, zamanla .NET Core dünyasında derinleştim. Şu anda .NET 8, Entity Framework Core, MSSQL, JWT, RabbitMQ, Docker gibi teknolojilerle çalışıyorum.

                        Son zamanlarda AWS teknolojilerine merak salmış durumdayım.
                        Yazılımı sadece kod değil, mantık ve mimari olarak da öğrenmeye çalışıyorum. Yeni teknolojilere meraklıyım, elimden geldiğince üretmeye ve paylaşmaya çalışıyorum.

                    </p>
                </div>
            </div>
        </section>

        <section id="experience" class="section-padding bg-light">
            <div class="container">
                <h2>Deneyim</h2>

                <div class="experience-list">
                    <div class="experience-item">
                        <h3> Donanım Birimi Kısmi Zamanlı Öğrenci - Erciyes Üniversitesi</h3>
                        <p class="experience-date">01.06.2023 - 28.08.2023 </p>
                        <p>
                            Erciyes Üniversitesi bünyesinde Kısmi zamanlı öğrenci olarak donanım
                            birimde çalıştım.

                        </p>
                    </div>

                    <div class="experience-item">
                        <h3>Stajyer .Net Core Developer - Hattat Yazılım</h3>
                        <p class="experience-date">01.06.2023 - 28.08.2023 </p>
                        <p>
                            İki aylık süreç boyunca kendimi geliştirme fırsatım oldu. Şirket ortamını
                            tanıma fırsatını elde ettim. Web scraping yaparak api ile verilerin elde
                            edilmesini öğrendim, ajax ile controller view arası iletişimi daha da etkin
                            hale getirmeyi öğrendim.

                        </p>
                    </div>
                    <div class="experience-item">
                        <h3>Stajyer .Net Core Developer - Meditek Yazılım</h3>
                        <p class="experience-date">01.11.2022 - 01-02-2023 </p>
                        <p>
                            Gönüllü staj deneyimim olarak kendimi geliştirme fırsatı buldum. Kendi
                            bünyelerindeki eğitime katılma fırsatımı oldu.

                        </p>
                    </div>

                </div>
            </div>
        </section>
        <section id="projects" class="section-padding">
            <div class="container">
                <h2>Projeler</h2>
                <div class="project-grid">

                    <div class="project-card">
                        <img src="img/unis.png" alt="Öğrenci Bilgilendirme Sistemi">
                        <h3>Öğrenci Bilgilendirme Sistemi (API & Frontend)</h3>
                        <p>Öğrenci, akademisyen ve admin modüllerinden oluşan kapsamlı bir akademik yönetim sistemidir. Ders yönetimi, not sorgulama, staj başvurusu, mezuniyet şartları kontrolü, bilimsel bilgi yönetimi ve veritabanıyla sohbet gibi işlevleri içerir. Docker, RabbitMq, background service vs bir çok teknoloji kullanıldı, öğrendiğim her şeyi kullanmaya çalıştım, CV'mde detayını bulabilirsiniz.'</p>

                     </div>

                    <div class="project-card">
                        <img src="img/eru_obs.png" alt="Erciyes Üni. OBS Giriş">
                        <h3>Erciyes Üniversitesi OBS Giriş (Web Scraping)</h3>
                        <p>Web scraping ile Erciyes Üniversitesi Öğrenci Bilgi Sistemi'ne (OBS) giriş yapıp öğrencilerin bilgilerini çeken ve görüntüleyen bir .NET Core projesi geliştirdim.</p>

                     </div>
                    <div class="project-card">
                        <img src="img/scienta.png" alt="Platform">
                        <h3>Bilimsel Platformları birleştiren Web </h3>
                        <p>Üç farklı bilimsel makale yayınlayan platformdan web scrabing ile verilerin elde edilip, ai ile ilgili makalenin özetinin gösterilmesi</p>

                     </div>
                    <div class="project-card">
                        <img src="img/akas.png" alt="Akademisyen Tanıtım">
                        <h3>Akademisyen Tanıtım ve Akademik Veri Sistemi</h3>
                        <p>UniSystem Projemde kayıtlı olan akademisyenlerin kişisel akademik olarak tanıtımlarının, araştırmalarının verlierinin paylaşıldığı bir platform, API den beslenmektedir</p>

                    </div>
                    <div class="project-card">
                        <img src="img/plc.png" alt="Web Albüm-Şarkı Tanıtım">
                        <h3>Web Albüm-Şarkı Tanıtım MVC Projesi</h3>
                        <p>Dapper ORM ve Katmanlı Mimari prensipleriyle geliştirilmiş, web tabanlı bir albüm ve şarkı tanıtım MVC projesi.</p>
 
                    </div>
                    <div class="project-card">
                        <img src="img/cvs.png" alt="CVS">
                        <h3>Şu An Görüntülediğiniz Tanıtım Sitesi</h3>
                        <p>Bu projedeki ilk amacım AWS EC2'da projeyi canlıya alabilmekti. Yapabildim, deploy işlemini otomatize edebildim daha sonra docker ile deploy etmeyi başardım </p>


                    </div>

                    <div class="project-card">
                        <img src="img/plc.png" alt="Ticari Otomasyon">
                        <h3>Web MVC Ticari Otomasyon</h3>
                        <p>Entity Framework ve Katmanlı Mimari kullanarak tasarlanmış, temel düzeyde API entegrasyonuna sahip bir web tabanlı ticari otomasyon sistemi.</p>

                  
                    </div>

                    <div class="project-card">
                        <img src="img/plc.png" alt="RestAPI Login">
                        <h3>RestAPI Login & Captcha Çözme MVC Projesi</h3>
                        <p>RestAPI kullanarak güvenli login işlemi gerçekleştiren, captcha çözen ve ilgili verileri çekme yeteneğine sahip bir MVC projesi.</p>

           
                    </div>

                    <div class="project-card">
                        <img src="img/plc.png" alt="Ağ Topolojisi">
                        <h3>Cisco Packet Tracer Ağ Topolojisi Projesi</h3>
                        <p>Cisco Packet Tracer kullanılarak router, switch, server ve VLAN konfigürasyonlarını içeren, detaylı bir ağ topolojisi projesi gerçekleştirdim.</p>

     
                    </div>
                   

                </div>
            </div>
        </section>

        <section id="skills" class="section-padding bg-light">
            <div class="container">
                <h2>Yetenekler</h2>
                <div class="skills-grid">

                    <div class="skill-item">
                        <h3>.NET 8 & ASP.NET Core</h3>
                        <p>Modüler, API-first mimaride backend sistemler ve web servisleri geliştirme.</p>
                    </div>
                    <div class="skill-item">
                        <h3>Entity Framework Core</h3>
                        <p>Code-first yaklaşımla veritabanı tasarımı ve ilişkisel veri yönetimi.</p>
                    </div>
                    <div class="skill-item">
                        <h3>JWT</h3>
                        <p>Güvenli token tabanlı kimlik doğrulama sistemleri oluşturma.</p>
                    </div>
                    <div class="skill-item">
                        <h3>Background Services</h3>
                        <p>Arka planda sürekli çalışan servisler ile zamanlanmış görevler ve otomasyon işlemleri geliştirme.</p>
                    </div>


                    <div class="skill-item">
                        <h3>HTML5, CSS3 & Bootstrap</h3>
                        <p>Duyarlı, modern ve erişilebilir kullanıcı arayüzleri geliştirme.</p>
                    </div>
                    <div class="skill-item">
                        <h3>AJAX</h3>
                        <p>Dinamik içerikler ve API entegrasyonlarıyla kullanıcı etkileşimi sağlama.</p>
                    </div>

                    <div class="skill-item">
                        <h3>Docker</h3>
                        <p>Projeleri izole ortamlarda çalıştırmak ve ortam bağımsız dağıtımlar yapmak.</p>
                    </div>
                    <div class="skill-item">
                        <h3>AWS EC2</h3>
                        <p>Projeleri AWS ortamında yayınlama</p>
                    </div>
                    <div class="skill-item">
                        <h3>RabbitMQ</h3>
                        <p>Asenkron mesajlaşma altyapısı kurarak servisler arası veri iletişimi sağlama.</p>
                    </div>

                    <div class="skill-item">
                        <h3>Microsoft SQL Server</h3>
                        <p>Performanslı veri sorgulama, optimizasyon ve veri modelleme.</p>
                    </div>

                </div>
            </div>
        </section>



    </main>

    <footer class="main-footer">
        <div class="container">
            <p>&copy; @DateTime.Now.Year Abdullah Arıcı</p>
            <div class="footer-links">
                <a href="https://www.linkedin.com/in/abdullah-arici-b7ba51269" target="_blank" rel="noopener noreferrer">LinkedIn</a>
                <a href="https://github.com/Abdullah01369" target="_blank" rel="noopener noreferrer">GitHub</a>
                <a href="mailto:abdullahaarici14@gmail.com">Email</a>
            </div>
            <p>abdullahaarici14@gmail.com</p>
            <p>0541 641 9410</p>
        </div>
    </footer>
    <script src="js/script.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>